body {
  padding: 0px;
  margin: 0px;
  background: grey /*fondo de control para detectar movimientos inesperados de los elementos, sobre todo los que tienen fondo blanco*/
}

nav {
  background: #2c3e50;
  width: 100%; /*tratando de hacer un sitio más flexible*/
  height: 60px; /*no siempre funciona :P*/
  padding: 25px 0px;
  position: fixed; /*declaración para fijar el menú de navegación, aún haciendo scroll*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

main {
  padding-top: 85px; /*aumentando el padding para evitar el solapamiento entre el menú de navegación y la sección hero (perfil)*/
}

footer {
  background: #2c3e50;
  width: 100%; /*tratando de hacer el sitio más flexible*/
  height: auto; /*tratando de hacer el sitio más flexible*/
  padding: 20px 0px;
  color: white;
}

footer h2 {
  font-family: 'Montserrat', sans-serif; /*diferenciando fuente*/
  font-size: 28px;
}

footer p {
  font-family: 'Lato', sans-serif; /*diferenciando fuente*/
  font-size: 20px;
}

footer div {
  text-align: center;
}

hr.star {  /*estilos para la estrella debajo de los títulos*/
  border-color: white;
}

hr {  /*estilos para la estrella debajo de los títulos*/
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr {  /*estilos para la estrella debajo de los títulos*/
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

hr.star:after {  /*estilos para la estrella debajo de los títulos*/
  color: white;
  background: #18bc9c;
}

hr.star-black:after {  /*estilos para la estrella debajo de los títulos*/
  color: #2c3e50;
  background: white;
}

hr.star:after, hr.star-black:after {  /*estilos para la estrella debajo de los títulos*/
  font-family: 'FontAwesome';
  font-size: 35px;
  bottom: 22px;
  display: inline-block;
  padding: 0 7px;
  content: '\f005';
  }

button { /*estilos para el botton del formulario de contacto*/
  background: #18bc9c;
  border: #18bc9c;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 45px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.container { /*contenedor para definir los margenes generales*/
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.start > a { /* estilos para la barra de navegación*/
  color: white;
  font-size: 33px;
  text-decoration: none;
}

.start { /* estilos para la barra de navegación*/
float: left;
}

.container > .buttons > ol > li { /*estilos para los botones del menú de navegación*/
  display: inline-block;
  color: white;
  margin: auto 5px;
  font-size: 17px;
  list-style: none;
}

.buttons { /*botones flotantes del menú de navegación*/
  float: right;
}

#hero { /*EStilos para la sección de perfil*/
  background: #18bc9c;
  clear: left;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 4px;
}

.imagen-hero { /*EStilos para la sección de perfil*/
  width: auto;
}

#hero h2 { /*EStilos para la sección de perfil*/
  font-size: 80px;
  font-weight: 700;
}

#hero p { /*EStilos para la sección de perfil*/
  font-weight: 400;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
}


::after { /*estilos para la estrella debajo de los títulos*/
  box-sizing: border-box;
}

#portfolio, #contact { /*estilos para las secciones que tienen un fondo blanco*/
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50;
  line-height: 4px;
}

#portfolio h2, #about h2, #contact h2{ /*estilos de los títulos de las secciones*/
  font-size: 52px;
  font-weight: 700;
}

.portfolio-images > img { /*estilos para las images del portafolio*/
  display: inline-block;
  width: 330px;
  height: auto;
  margin: 13px;
}

#about { /*estilos de la sección acerca del producto*/
  background: #18bc9c;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 4px;
}

.description { /*estilos para la descripción del servicio*/
  columns: 2;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  padding: 0 180px;
  text-align: left;
}

#about p { /*estilos para la sección de descripción del producto*/
  border: solid white 2px;
  border-radius: 5px;
  width: 200px;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.send-message ul { /*estilos para el formulario de contacto*/
  list-style: none;
  text-align: left;
  padding: 0 180px;
}

.send-message > ul > li > input, textarea { /*estilos para el formulario de contacto (mensaje)*/
  width: 100%;
  padding: 25px 0;
  line-height: 2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 23px;
  border: none;
  border-bottom: 0.02px solid #8693B8;
}

.address { /*estilos para el footer*/
  float: left;
  line-height: 5px;
}

.address h2 { /*estilos para el footer*/
  margin: 15px 0;
  margin-bottom: 35px;
}

 .notification { /*estilos para el footer*/
   float: right;
   width: 30%;
 }

 .notification h2 { /*estilos para el footer*/
   margin: 0;
 }

.notification strong { /*estilos para el footer*/
  color: #18bc9c;
}

.fa-facebook, /*estilos para los botones de redes sociales en el footer*/
.fa-google-plus,
.fa-twitter,
.fa-linkedin,
.fa-dribbble {
  display: inline-block;
  margin: 0 .3%;
  border: solid white 2px;
  padding: 1%;
  border-radius: 50%;
}

.clear { /*estilos para la última línea del footer*/
  clear: left;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 70px;
}
